
<body>

  <section class="parallax">
    <h1 id="title">TourEase</h1>
    <img src="../../assets/Images/homepage" id="bottom" alt="vacation" />
    <img src="../../assets/Images/woman" id="woman" alt="vacation" /> 
    <img src="../../assets/Images/rightplant" id="leftplant" alt="vacation" />
    <img src="../../assets/Images/leftplant" id="rightplant" alt="vacation" />
    <img src="../../assets/Images/ball" id="ball" alt="vacation" />
    <img src="../../assets/Images/lifebuoy" id="lifebuoy" alt="vacation" /> 
  </section>

  <section class="blog">
    <h2>Your Gateway to Unforgettable Journeys!</h2>
    <p>Ready to embark on a travel adventure like no other?</p>
    <p>
        Look no further than TourEase, the epitome of extraordinary travel experiences! Immerse yourself in vibrant cultures, discover hidden gems, and indulge in a plethora of activities that redefine the art of travel. With TourEase, you're not just booking a trip; you're unlocking the best destinations and experiences that promise unforgettable journeys. From scenic landscapes to cultural wonders, TourEase awaits to elevate your travel adventures to new heights!
    </p>
    <div class="cards">
      <div class="card">
        <img src="../../assets/Images/homepagemap.jpg" alt="" />
        <div class="overlay">
          <h3>Explore Exciting Destinations</h3>
          <p>
            Discover thrilling destinations with Tour Ease! Explore exciting locales, uncover hidden gems, and plan your dream getaway effortlessly. Immerse yourself in diverse cultures, breathtaking landscapes, and unforgettable experiences. Let Tour Ease guide you to the perfect adventure, making travel planning a breeze.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/Images/homepageplane.jpg" alt="" />
        <div class="overlay">
          <h3>Customise Your Itenary</h3>
          <p>
            According to your preferences and interests, Personalize every aspect of your journey, from choosing specific destinations and activities to adjusting the duration of your stay. Enjoy a unique and tailored travel experience that suits your individual needs and desires.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/Images/homepageluggage.jpg" alt="" /> 
        <div class="overlay">
        <h3>Book Hassle-Free</h3>
        <p>
          Book your travel hassle-free with Tour Ease! Enjoy a seamless booking experience that takes the stress out of trip planning. Our user-friendly platform ensures quick and secure reservations, allowing you to focus on the excitement of your upcoming journey. Experience the convenience of effortless booking with Tour Ease.
        </p>
      </div>
      </div> 
    </div>
    <p>
        Experience the enchantment of travel with TourEase and let the allure of exploration transport you to a realm of adventure, discovery, and endless delights! 
    </p>
  </section>
</body>



