<div>
    <form #packageInfoForm="ngForm" (ngSubmit)="submitPackageInfo()">
      <table>
        <tbody>
          <tr>
            <td>Package Name</td>
            <td><input type="text" name="packageName" [(ngModel)]="packageName" /></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><input type="text" name="description" [(ngModel)]="description" /></td>
          </tr>
          <tr>
            <td>Duration</td>
            <td><input type="text" name="duration" [(ngModel)]="duration" /></td>
          </tr>
          <tr>
            <td>Departure</td>
            <td><input type="date" name="departure" [(ngModel)]="departure" /></td>
          </tr>
          <tr>
            <td>Return Date</td>
            <td><input type="date" name="returndate" [(ngModel)]="returndate" /></td>
          </tr>
          <tr>
            <td>Image</td>
            <td><input type="file" name="image" (change)="onFileChange($event)" /></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
      <button type="submit">Submit</button>
    </form>
  </div>
  