
div {
    margin: 20px;
  }
  
  form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-bottom: 15px;
  }
  
  td {
    padding: 12px;
    /* border: 1px solid #ddd; */
  }
  
  input {
    width: 100%;
    padding: 8px;
    /* box-sizing: border-box; */
    margin-bottom: 10px;
  }
  
  input[type="date"] {
    width: calc(100% - 18px); /* Adjusting for date input's arrow button */
  }
  
  button {
    padding: 10px 15px;
    background-color: #534caf;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .ng-invalid {
    border: 1px solid #ff0000;
  }
  