<<<<<<< HEAD
<head>
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="heading">
<h1><b><strong><i>Tour Packages</i></strong></b></h1>
</div>
<body>
    <div class="card-container">
        <div class="card">
            <img src="../../assets/Images/Amberfort.jpg">
            <div class="card-content">
                <h1>Jaipur</h1>
                <p>Jaipur became known as “The Pink City” when, in 1876, Maharaja Ram Singh had most of the buildings painted pink—the color of hospitality—in preparation for a visit by Britain's Queen Victoria. Today, the city is known for its bazaars, forts, temples, palaces, and wildlife sanctuaries.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/australia.webp">
            <div class="card-content">
                <h1>Australia</h1>
                <p>Australia's spectacular natural environment, multicultural communities, excellent food and wine, its weather and lifestyle and the friendliness and openness of its people make it one of the world's most attractive tourist destinations.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/bali.webp">
            <div class="card-content">
                <h1>Bali</h1>
                <p>Bali's beauty is unique and incomparable. Known for its fascinating jungles, terraced rice fields, legendary volcanoes, mystical temples and stunning beaches, this island is a welcoming haven for travellers from all over the world.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/canada.jpg">
            <div class="card-content">
                <h1>Canada</h1>
                <p> The second largest country in the world, Canada's incredible geographical variety is a significant tourist attractor.Places like the Rocky Mountains, the Nahanni National Park Reserve, Niagara Falls and more are all beautiful spots that will stay in your memory forever.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/china.avif">
            <div class="card-content">
                <h1>China</h1>
                <p>China offers you to marvel at ancient marketplaces, impeccable old exhibition halls, alluring natural vistas, and beautiful monasteries. Places in China are a source of inspiration as well as admiration for the travellers who have headed out to the magical land in the East.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/delhi.avif">
            <div class="card-content">
                <h1>Delhi</h1>
                <p>New Delhi has great historical significance as it was home to powerful people, such as the Pāṇḍavas and the Mughals. The city has many historical monuments and tourist attractions as well as lively marketplaces and great food, such as chaat.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/dubai.jpg">
            <div class="card-content">
                <h1>Dubai</h1>
                <p>Dubai has grown to be one of the most recognizable destinations worldwide with its lavish architecture, incredible skylines, and giant shopping malls. It is a city that embodies the epitome of modernity and luxury, an oasis of opulence amidst the desert landscape.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/Easter-Island-moai.webp">
            <div class="card-content">
                <h1>Easter Island Moai</h1>
                <p>Easter Island is famous for its stone statues of human figures, known as moai. The island is known to its inhabitants as Rapa Nui. The moai were probably carved to commemorate important ancestors and were made from around 1000 C.E. until the second half of the seventeenth century.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/goldentemple.webp">
            <div class="card-content">
                <h1>Golden Temple</h1>
                <p>The Golden temple is located in the holy city of the Sikhs, Amritsar. The Golden temple is famous for its full golden dome, it is one of the most sacred pilgrim spots for Sikhs. The Mandir is built on a 67-ft square of marble and is a two storied structure.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/Kerala.jpg">
            <div class="card-content">
                <h1>Kerala</h1>
                <p>A popular tourist destination, Kerala woos you with its crystal-clear lagoons, pristine beaches, misty hills and sprawling wildlife sanctuaries. The exotic culture and local cuisine further adds up to its charm.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/leaning-tower-of-pisa.avif">
            <div class="card-content">
                <h1>Leaning Tower Of Pisa</h1>
                <p>The Leaning Tower of Pisa is a famous freestanding bell tower in the city of Pisa, Italy. It is situated behind the Cathedral and Baptistery of Pisa and is one of the most recognizable structures in the world. </p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/Machu_Picchu.jpg">
            <div class="card-content">
                <h1>Machu Picchu</h1>
                <p>Machu Picchu is a 15th-century Inca citadel located in the Eastern Cordillera of southern Peru on a 2,430-meter  mountain ridge. Often referred to as the "Lost City of the Incas", it is the most familiar icon of the Inca Empire.
                </p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/malaysia.jpg">
            <div class="card-content">
                <h1>Malaysia</h1>
                <p>Malaysia is a beautifully complex vacation destination, a land where ancient rainforests give way to multicultural city life. Capital city Kuala Lumpur is visually defined by the iconic Petronas Twin Towers</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/maldives.webp">
            <div class="card-content">
                <h1>Maldives</h1>
               <p>New Delhi has great historical significance as it was home to powerful people, such as the Pāṇḍavas and the Mughals. The city has many historical monuments and tourist attractions as well as lively marketplaces and great food, such as chaat.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/manali.webp">
            <div class="card-content">
                <h1>Manali</h1>
              <p>Manali is all about an open valley with a deodar and pine forest cover, freshwater streams and peaks perennially covered with snow making it a perfect place to unwind and recharge.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/opera house.jpg">
            <div class="card-content">
                <h1>Opera House</h1>
                <p>An opera house is a theatre building used for performances of opera. It usually includes a stage, an orchestra pit, audience seating, and backstage facilities for costumes and building sets. Teatro di San Carlo in Naples, the world's oldest working opera house.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/paris.jpg">
            <div class="card-content">
                <h1>Paris</h1>
                <p>Paris is the capital and most populous city of France. Situated on the Seine River, in the north of the country, it is in the centre of the Île-de-France region, also known as the région parisienne, "Paris Region". </p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/Pyramid of giza.jpg">
            <div class="card-content">
                <h1>Pyramid of Giza</h1>
                <p>The Giza Pyramids are listed as one of the 7 Wonders of the Ancient World, and they are visited by millions of tourists each year. They well and truly are the face of Ancient Civilization, and the are featured in almost all of our Cairo tour packages.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/Statue-of-Liberty.webp">
            <div class="card-content">
                <h1>Statue Of Liberty</h1>
            <p>The Statue of Liberty is 151 feet tall and stands on a pedestal that is 154 feet tall, making the height of the entire sculpture 305 feet. The green color of the statue comes from copper sheets that are supported by an internal iron framework.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/thailand.jpg">
            <div class="card-content">
                <h1>Thailand</h1>
                <p>Thailand tourism has everything a tourist could ask for, from an international holiday destination including, Gren-blue clean beaches, coral islands, mountains, shopping markets, Hindu temples, monasteries and never ending nightlife.</p>
           <a href="" class="card-button">Read More</a>
            </div>
        </div>
    </div>
</body>
=======
<body>
    
</body>

<!-- <body>
    <div class ="wrapper">
        <div class = "card1">
            <div class = "content">
                <p>July 26th-August 30th</p>
                <div class="main">
                    <h1>Thailand</h1>
                    <span>for $23457</span>
                    <img  class="star" src="../../assets/Images/Rating.png" alt="">
                </div>
                <button>ReadMore</button>
            </div>

        </div>
        <div class = "card2">
            <div class = "content">
                <p>July 26th-August 30th</p>
                <div class="main">
                    <h1>Germany</h1>
                    <span>for $12988</span>
                    <img  class="star" src="../../assets/Images/Rating.png" alt="">
                </div>
                <button>ReadMore</button>
            </div>

        </div>
        <div class = "card3">
            <div class = "content">
                <p>January 26th-February 15th</p>
                <div class="main">
                    <h1>Paris</h1>
                    <span>for $32544</span>
                    <img  class="star" src="../../assets/Images/Rating.png" alt="">
                </div>
                <button>ReadMore</button>
            </div>

        </div>
        <div class = "card4">
            <div class = "content">
                <p>November 2nd-February 20th</p>
                <div class="main">
                    <h1>Kerala</h1>
                    <span>for $467544</span>
                    <img  class="star" src="../../assets/Images/Rating.png" alt="">
                </div>
                <button>ReadMore</button>
            </div>

        </div>
         <div class = "card1">
            <div class = "content">
                <p>July 26th-August 30th</p>
                <div class="main">
                    <h1>Thailand</h1>
                    <span>for $23457</span>
                    <img  class="star" src="../../assets/Images/Rating.png" alt="">
                </div>
                <button>ReadMore</button>
            </div>

        </div> -->
    <!-- </div>
    
</body>  -->
>>>>>>> b50582ab869c55d367b797da0ab46ed6d4edd544
