<div class="login">
    <div class="login_box">
      <form [formGroup]="forgotPasswordForm">
        <h1>ForgotPassword</h1>
  
       <div *ngIf="currentStep === 'sendOtp'" class="form-group">
    <div class="flex-container">
      <label for="country">Country:</label>
      <select id="country" formControlName="countryCode" style="width: 100px;">
        <option *ngFor="let country of countries" [value]="country.idd.root + country.idd.suffixes">
          {{ country.idd.root }}{{ country.idd.suffixes }}
        </option>
      </select>
  
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" id="mobileNumber" formControlName="mobileNumber" />
  
      <button type="button" class="submit" (click)="sendOtp()">Send OTP</button>
    </div>
  </div>
  
  
        <div *ngIf="currentStep === 'verifyOtp'" class="form-group">
          <label for="otp">Verify OTP:</label>
          <input type="text" id="otp" formControlName="otp" />
          <button type="button" class="submit" (click)="verifyOtp()">Verify OTP</button>
        </div>
  
        
  
        <div *ngIf="currentStep === 'updatePassword'" class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" formControlName="newPassword" />
  
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" />
  
          <button type="button" class="submit" (click)="updatePassword()">Update Password</button>
        </div>
  
  
      </form>
    </div>
  </div>
  
