<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
               <b>Are you ready for an unforgettable adventure?</b><br/>
                Welcome to TourEase, your gateway to the world's most
                incredible destinations. Whether you're a seasoned globetrotter or a first-time explorer, our
                website is your one-stop resource for all things travel.
                
                Join us as we embark on a journey to unearth the hidden treasures of our planet. From the bustling
                streets of vibrant cities to the tranquil shores of exotic beaches, we've got it all covered.
            </p>
        </div>
    </div>
</body>