<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                <div class="input-group">
                    <input type="text" name="emailId" class="form-control" ngModel #emailId="ngModel"
                        placeholder="Enter Email-Id" required minlength="2" maxlength="20" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user">
                        </i></span>
                </div>
                <br>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" ngModel #password="ngModel"
                        placeholder="Enter Password" required minlength="2" maxlength="10" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                </div>
                <br>
                <div>
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey">
                    </ngx-recaptcha2>
                </div>
                <br>
                <div class="input-group">
                    <button class="btn btn-primary" [disabled]="!loginForm.valid"
                        style="display: flex;justify-content: center;">Login</button>
                </div>
                <div class="register">
                    New User? <a href="register">SignUp</a>
                </div>
            </form>
            <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
            <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password
            </div>
            <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter At least 2
                Characters</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter At least 2
                Characters</div>
        </div>
    </div>
</body>