<<<<<<< HEAD
/* #body{
    background-image: url('../../assets/Images/register.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button{
    text-decoration: none;
    color: var(--secondary-color);
}
button:hover{
    text-decoration: underline;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.2);
}
tbody{
    position: relative;
    width: 500px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--secondary-color);
} */
.body1{
    height: 100vh;
    width: 100%;
    background-image: url('/assets/Images/register.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    position: relative;
    max-width:500px;
    width:90%;
    background: transparent;
    backdrop-filter: blur(25px);
    padding:25px;
    border-radius:8px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}
.body h1{
    font-size: 1.2rem;
    color: #000;
    font-weight:600;
    text-align: center;
}

.body .form{
    margin-top: 15px;
}

.form .input-box{
    width: 100%;
    margin-top:10px;
}

.input-box label{
    color: #000;
}

.form :where(.input-box input, .select-box){
    position: relative;
    height: 35px;
    width: 93%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 15px;
    background: #fcedda;
}

.input-box input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.form .column1{
    display:flex;
    width : 96%;
    column-gap: 25px;
}

.form .column{
    display: flex;
    width: 100%;
    column-gap: 25px;
}

.address :where(input, .select-box){
    margin-top:10px;
}

.select-box select{
    height:100%;
    width:100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #fcedda;
}

.form button{
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #ee4e34;
}
.form button:hover{
    background: #ee3e34;
}
select{
    border: 1px solid black;
    border-radius: 6px;
    height: 35px;
    width: 93%;
    background-color: #fcedda;
=======
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

    .input-data input:focus ~ label,
    .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
>>>>>>> b50582ab869c55d367b797da0ab46ed6d4edd544
}