<<<<<<< HEAD
<div class="body1">
<div class="body">
	<h1>Register</h1>
	<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" class="form">
		<div class="column1">
			<div class="input-box">
				<label>First Name</label>
				<input type="text" name="firstName" ngModel #firstName="ngModel" />
			</div>
			<div class="input-box">
				<label>Last Name</label>
				<input type="text" name="lastName" ngModel #lastName="ngModel" />
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Date Of Birth</label>
				<input type="date" name="dob" ngModel #dob="ngModel" />
			</div>
			<div class="input-box">
				<label>Gender</label>
				<br>
				<select name="gender" ngModel #gender="ngModel">
					<option value="" selected>Select Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Others">Others</option>
				</select>
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Country</label>
				<select name="country" [(ngModel)]="selectedCountry" (ngModelChange)="onCountrySelect()">
					<option value="" selected>Select Country</option>
					<option value="{{country.country_name}}" *ngFor="let country of countries">{{country.country_name}}
					</option>
				</select>
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>State</label>
				<select name="state" [(ngModel)]="selectedState" (ngModelChange)="onStateSelect()">
					<option value="" selected>Select state</option>
					<option value="{{state.state_name}}" *ngFor="let state of states">{{state.state_name}}</option>
				</select>
			</div>
			<div class="input-box">
				<label>City</label>
				<select name="city" ngModel #city="ngModel">
					<option value="" selected>Select city</option>
					<option value="{{city.city_name}}" *ngFor="let city of cities">{{city.city_name}}</option>
				</select>
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Mobile Number</label>
				<input type="text" name="mobileNumber" ngModel #mobileNumber="ngModel" required minlength="8"
					maxlength="15" pattern="[0-9]" />
			</div>
			<div class="input-box">
				<label>Email-Id</label>
				<input type="text" name="emailId" ngModel #emailId="ngModel" required type="email" minlength="8"
					pattern="[a-zA-Z0-9.%_'=&+,-><]+@[a-zA-Z0-9.-]+.[com]$" />
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Password</label>
				<input type="password" name="password" ngModel #password="ngModel" required minlength="8" maxlength="20"
					pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$" />
			</div>
			<div class="input-box">
				<label> ConfirmPassword</label>
				<input type="password" name="password" ngModel #confirmPassword="ngModel" required minlength="8"
					maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$"
					(ngModelChange)="validateConfirmPassword()" />
			</div>
		</div>
		<button>Register</button>
=======
<div>
	<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
		<table>
			<tbody>
				<!-- <tr>
					<td>CustomerId</td>
					<td><input type="text" name="customerId" ngModel  /></td>
				</tr> -->
				<tr>
					<td>First Name</td>
					<td><input type="text" name="firstName" ngModel #firstName="ngModel"/></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lastName" ngModel #lastName="ngModel"/></td>
				</tr>
				<tr>
					<td>Date Of Birth</td>
					<td><input type="date" name="dob" ngModel #dob="ngModel"/></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
						<select name="gender" ngModel #gender="ngModel">
							<option value="" selected>Select Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Others">Others</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Country</td>
					<td>
						<select name="country"  [(ngModel)]="selectedCountry" (ngModelChange)="onCountrySelect()">
							<option value="" selected>Select Country</option>
							<option value="{{country.country_name}}" *ngFor="let country of countries">{{country.country_name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>State</td>
					<td>
						<select name="state" [(ngModel)]="selectedState" (ngModelChange)="onStateSelect()" >
							<option value="" selected>Select state</option>
							<option value="{{state.state_name}}" *ngFor="let state of states">{{state.state_name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>City</td>
					<td>
						<select name="city" ngModel #city="ngModel">
							<option value="" selected>Select city</option>
							<option value="{{city.city_name}}" *ngFor="let city of cities">{{city.city_name}}</option>	
						</select>
					</td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td><input type="text" name="mobileNumber" ngModel #mobileNumber="ngModel" required minlength="8" maxlength="15" pattern="[0-9]"/></td>
				</tr>
				<tr>
					<td>Email-Id</td>
					<td><input type="text" name="emailId" ngModel #emailId="ngModel" required type="email" minlength="8" pattern="[a-zA-Z0-9.%_'=&+,-><]+@[a-zA-Z0-9.-]+.[com]$" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" ngModel #password="ngModel" required minlength="8" maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$"/></td>
				</tr>
				<tr>
					<td>ConfirmPassword</td>
					<td><input type="password" name="password" ngModel #confirmPassword="ngModel" required minlength="8" maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$" (ngModelChange)="validateConfirmPassword()"/></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button>Register</button>
						Already a User? <a href="login">Signin</a>
					</td>
				</tr>
			</tbody>
		</table>
>>>>>>> b50582ab869c55d367b797da0ab46ed6d4edd544
	</form>
	<div>
		<div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
		<div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
		<div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter correct EmailId
		</div>
		<div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 8
			Characters</div>
		<div *ngIf="emailId.errors?.['pattern'] && emailId.touched" style="color: red;">Enter Correct Email Id</div>
		<div *ngIf="password.errors?.['pattern'] && password.touched" style="color: red;">Your Password must contain
			atleast one Capital letter and a Special Character</div>
		<div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['minlength'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Enter At Least 8 Characters for Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['maxlength'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Enter No More Than 20 Characters for Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['pattern'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Your Confirm Password must contain at least one Capital letter and a Special Character
		</div>
		<div *ngIf="confirmPasswordMatch === false && confirmPasswordDirty" style="color: red;">Passwords do not match
		</div>
	</div>
<<<<<<< HEAD
</div>
=======

>>>>>>> b50582ab869c55d367b797da0ab46ed6d4edd544
